<div class="card bg-light mb-3" style="max-width: 25rem;">
  <div class="card-header"><h2>Edit Todo List</h2></div>
  <div class="card-body">
    <%= form_with model: @todo_list, method: :put, local: true do |form| %>
      
        <%= form.label :list_name %>
        <%= form.text_field :list_name %>
        <br>
        <br>

        <%= form.submit("Save Changes", :class => "btn btn-primary") %> 
        <%= link_to("Back", todo_lists_path, :class => "btn btn-secondary") %>
      <% end %>
  </div>
</div>