<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<div class="container-fluid">
 <div class="row">
    <nav class="navbar bg-light">
        <div class="col text-center">
            <h3><%="#{@active_list.list_name}"%>
        </div>
        <div class="col-auto">
            <%= button_to "Edit", edit_todo_list_path(@active_list), method: :get, :class => "btn btn-light" %>
        </div> 
        <div class="col-auto">
            <%= button_to "Delete", delete_todo_list_path(@active_list) , method: :delete, :class => "btn btn-light" %>
        </div> 
        <div class="col-auto">
            <%= button_to "Logout", destroy_user_session_path, method: :delete, :class => "btn btn-light" %>
        </div>
    </nav>

</div>
 <div class="row">
    <div class="col-auto">
        <div class="card" style="width: 18rem;">
        <div class="card-header">
            <div class="row">
                <div class="col">
                    <h4>Todo Lists
                </div>
                <div class="col text-end">
                    <%= link_to("+ New", new_todo_list_path, class: "btn btn-success create_list") %>
                </div>
            </div>
        </div>
            <div class="card-body">
            <ul class="list-group list-group-flush">
            <li class="list-group-item list-group-item-action active"><%=@active_list.list_name%></li>
            <% @non_active_lists.each do |l| %>
                <li class="list-group-item list-group-item-action"><%=link_to(l.list_name, todo_lists_path(:active_list => l.id))%></li>
            <% end %>
            </div>
            </ul>
            <div class="card-footer">
                <%="User: #{current_user.email}"%>
                <%= button_to "Logout", destroy_user_session_path, method: :delete, :class => "btn btn-warning btn-sm" %>
            </div>
        </div>

    </div>
    <div class='col'>
        <div class="card">
        <div class="card-header">
            <div class="row">
            <div class="col text-start">
                <h3>Tasks To Complete</h3>
            </div>
            <div class="col-auto">
                <div class="btn-group" role="group" aria-label="Basic example">

                    <% sort_hash = Hash.new() %>
                    <% [ 'name', 'priority', 'due_at', 'category'].each do |sort| %>
                        <% session[:order] == sort ? sort_hash[sort] = "btn btn-secondary active" : sort_hash[sort] = "btn btn-secondary"%>
                    <% end %>
                    <button type="button" class="btn btn-disabled">Sorted By</button>
                    <%= link_to('Task', todo_lists_path(:order => 'name'), id: "sort_by_task_active", class: sort_hash['name']) %>
                    <%= link_to('Priority', todo_lists_path(:order => 'priority'), id: "sort_by_priority_active", class: sort_hash['priority']) %>
                    <%= link_to('Due Date', todo_lists_path(:order => 'due_at'), id: "sort_by_due_date_active", class: sort_hash['due_at']) %>
                    <%= link_to('Category', todo_lists_path(:order => 'category'), id: "sort_by_category_active", class: sort_hash['category'] ) %>

                </div>
            </div>

            </div>
        </div>
        <div class="card-body">
        <table class="table">
        <thead class="thead-light">
            <tr class="todo_entries_header">
                <th>
                    Task
                </th>

                <th>
                    Priority 
                </th>

                <th>
                    Due Date 
                </th>
        
                <th>
                    Category
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>

        <tbody>
            <% @active_tasks.each do |p| %>
                <tr>
                    <td class="task_name">
                    <%= link_to(image_tag("unfinished.png", height:30, width:30, alt:"unfinished"), complete_todo_list_todo_entry_path(@active_list, p), class: "complete_task")  %> <%= link_to "#{p.name}", todo_list_todo_entry_path(@active_list, p) , class: "btn btn-outline-dark btn task_show" %>
                    </td>

                    <td class="task_priority">
                    <%= "#{priority_to_string(p.priority)}" %>
                    </td>

                    <td class="task_duedate">
                    <%= "#{p.due_at}" %>
                    </td>
            
                    <td class="task_category">
                    <%= "#{p.category}" %>
                    </td>

                    <td class="task_actions">
                    <%= link_to(image_tag("edit.png", height:30, width:30, alt:"finished"), edit_todo_list_todo_entry_path(@active_list, p), class: "edit_task") %>
                    <%= link_to(image_tag("trash.png", height:30, width:30, alt:"finished"), delete_todo_list_todo_entry_path(@active_list, p), class: "delete_task") %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>

    <p class="centered-button"> <%= link_to("Create Task", new_todo_list_todo_entry_path(@active_list), class: "btn btn-primary create_task") %></p>

    <h3>Completed Items</h3>
    <table class="table">
        <thead class="thead-light">
            <tr class="todo_entries_header">
                <th>
                    Task
                </th>

                <th>
                    Priority
                </th>

                <th>
                    Due Date
                </th>
        
                <th>
                    Category
                </th>
            </tr>
        </thead>

        <tbody>
            <% @completed_tasks.each do |p| %>
                <tr>
                    <td class="completed_task_name">
                    <%= link_to(image_tag("finished.png", height:30, width:30, alt:"finished"), undo_complete_todo_list_todo_entry_path(@active_list, p), class: "undo_complete_task") %> <%= link_to"#{p.name}", todo_list_todo_entry_path(@active_list, p), :class => "btn btn-outline-secondary btn-sm task_show" %>
                    </td>

                    <td class="completed_task_priority">
                    <%= "#{priority_to_string(p.priority)}" %>
                    </td>

                    <td class="completed_task_duedate">
                    <%= "#{p.due_at}" %>
                    </td>
            
                    <td class="completed_task_category">
                    <%= "#{p.category}" %>
                    </td>
                </tr>
            <% end %>
        </tbody>
        </table>
        </div>
        </div>
        </div>
    </div>
</div>

