<div class="container-fluid">
    <div class="row">
        <nav class="navbar bg-light">
            <div id="active_list" class="col text-center">
                <h3><%="#{@active_list.list_name}"%>
            </div>
            <div class="col-auto">
                <%= button_to "Edit", edit_todo_list_path(@active_list), method: :get, :class => "btn btn-light edit_todo_list" %>
            </div> 
            <div class="col-auto">
                <%= button_to "Delete", todo_list_path(@active_list) , method: :delete, :class => "btn btn-light delete_todo_list", data: { confirm: 'Are you sure you want to delete this list?' } %>
            </div> 
            <div class="col-auto">
                <%= button_to "Archive", archive_todo_list_path(@active_list), method: :patch, :class => "btn btn-light archive_todo_list", data: { confirm: 'Are you sure you want to archive this list?' } %>
             </div>
            <div class="col-auto">
                <%= button_to "Share", share_todo_list_path(@active_list), method: :get, :class => "btn btn-light share_todo_list" %>
            </div>
            <div class="col-auto">
                <%= button_to "Logout", destroy_user_session_path, method: :delete, :class => "btn btn-dark log_out_user" %>
            </div>
        </nav>
    </div>
    
 <div class="row">

    <div class="col-auto">
        <%=render 'side_bar' %>
    </div>
    
    <div class='col'>
        <div class="card">
        <div class="card-header">
            <div class="row">
            <div class="col text-start">
                <h3>Tasks To Complete</h3>
            </div>
            <div class="col-auto">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-disabled">Sorted By</button>
                    <%= link_to('Task', todo_lists_path(:order => 'name'), id: "sort_by_task", class: @sort_hash['name']) %>
                    <%= link_to('Priority', todo_lists_path(:order => 'priority'), id: "sort_by_priority", class: @sort_hash['priority']) %>
                    <%= link_to('Due Date', todo_lists_path(:order => 'due_at'), id: "sort_by_due_date", class: @sort_hash['due_at']) %>
                    <%= link_to('Category', todo_lists_path(:order => 'category'), id: "sort_by_category", class: @sort_hash['category'] ) %>

                </div>
            </div>

            </div>
        </div>
        <div class="card-body">

            <%=render 'active_task_table' %>

            <p class="centered-button"> <%= link_to("Create Task", new_todo_list_todo_entry_path(@active_list), class: "btn btn-primary create_task") %></p>

            <%=render 'completed_task_table' %>

        </div>
        </div>
        </div>
    </div>
</div>

