<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<div class="row">
    <div class="col-md-3">
        <h3>Tasks To Complete</h3>
    </div>
</div>

<table class="table">
    <thead class="thead-light">
        <tr class="todo_entries_header">
            <th>
                <%= link_to('Task', todo_entries_path(:order => 'name')) %>
            </th>

            <th>
                <%= link_to('Priority', todo_entries_path(:order => 'priority')) %>
            </th>

            <th>
                <%= link_to('Due Date', todo_entries_path(:order => 'due date')) %>
            </th>
    
            <th>
                <%= link_to('Category', todo_entries_path(:order => 'category')) %>
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>

    <tbody>
        <% @todo_entries.where(completed: false).each do |p| %>
            <tr>
                <td class="name">
                <%= link_to(image_tag("unfinished.png", height:30, width:30, alt:"finished"), complete_todo_entry_path(p))  %> <%= link_to "#{p.name}", todo_entry_path(p) , :class => "btn btn-outline-dark btn" %>
                </td>

                <td class="priority">
                <%= "#{priority_to_string(p.priority)}" %>
                </td>

                <td class="duedate">
                <%= "#{p.due_at}" %>
                </td>
         
                <td class="category">
                <%= "#{p.category}" %>
                </td>

                <td class="completed">
                <%= link_to(image_tag("edit.png", height:30, width:30, alt:"finished"), edit_todo_entry_path(p)) %>
                <%- link_to('COMPLETE', complete_todo_entry_path(p) , :class => "btn btn-success") %>
                <%= link_to(image_tag("trash.png", height:30, width:30, alt:"finished"), delete_todo_entry_path(p)) %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>

<p style="text-align:center"> <%= link_to("Create Task", new_todo_entry_path, :class => "btn btn-primary") %></p>

<h3>Completed Items</h3>
<table class="table">
    <thead class="thead-light">
        <tr class="todo_entries_header">
            <th>
                <%= link_to('Task', todo_entries_path(:order => 'name')) %>
            </th>

            <th>
                <%= link_to('Priority', todo_entries_path(:order => 'priority')) %>
            </th>

            <th>
                <%= link_to('Due Date', todo_entries_path(:order => 'due date')) %>
            </th>
    
            <th>
                <%= link_to('Category', todo_entries_path(:order => 'category')) %>
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>

    <tbody>
        <% @todo_entries.where(completed: true).each do |p| %>
            <tr>
                <td class="name">
                <%= image_tag("finished.png", height:30, width:30, alt:"finished") %> <%= link_to"#{p.name}", todo_entry_path(p), :class => "btn btn-outline-secondary btn-sm" %>
                </td>

                <td class="priority">
                <%= "#{priority_to_string(p.priority)}" %>
                </td>

                <td class="duedate">
                <%= "#{p.due_at}" %>
                </td>
         
                <td class="category">
                <%= "#{p.category}" %>
                </td>

                <td class="completed">
                <%= link_to('UNDO COMPLETE', undo_complete_todo_entry_path(p), :class => "btn btn-light") %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>