<div id="main">
  <div class="row">
    <div class="col-lg text-center">
      <div class="card-header">
      <div class="container text-center">
        <div class="row ">
          <div class="col">
            <%if priority_to_string(@todo_entry.priority) == 'High' %>
              <h1 class = "high-priority">  <%= "#{priority_to_string(@todo_entry.priority)}"%> </h1>
            <%elsif priority_to_string(@todo_entry.priority) == 'Medium'%>
              <h1 class = "medium-priority">  <%= "#{priority_to_string(@todo_entry.priority)}"%> </h1>
            <%elsif priority_to_string(@todo_entry.priority) == 'Low'%>
              <h1 class = "low-priority">  <%= "#{priority_to_string(@todo_entry.priority)}"%> </h1>
            <%else%>
              <h1>  <%= "#{priority_to_string(@todo_entry.priority)}"%> </h1>
            <%end%>
          </div>
          <div class="col">
            <h1> <%= "#{@todo_entry.category}"%> </h1>
          </div>
          <div class="col">
            <h1> <%= "#{@todo_entry.due_at}"%> </h1>
          </div>
        </div>
      </div>
      <div class="card-body p-3 border bg-light">
        <h2>
          <%=@todo_entry.name%>
        </h2>
        <p class="show-description">
          <%=@todo_entry.description%>
        </p>
      </div>  
    </div>
  </div>
</div>
<br>
<p class="centered-button" ><%= link_to("Back", todo_lists_path, :class => "btn btn-secondary") %> </p>